@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
}

.heading-l {
  font-family: JetBrains Mono;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-feature-settings: "clig" off, "liga" off;
  color: $almost-white;
}

.heading-m {
  font-family: JetBrains Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-feature-settings: "clig" off, "liga" off;
  color: $almost-white;
}

.body {
  font-family: JetBrains Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-feature-settings: "clig" off, "liga" off;
  color: $almost-white;
}
