/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  outline: none; }

button {
  border: none; }

body {
  font-family: "JetBrains Mono", monospace; }

.heading-l {
  font-family: JetBrains Mono;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-feature-settings: "clig" off, "liga" off;
  color: #E6E5EA; }

.heading-m {
  font-family: JetBrains Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-feature-settings: "clig" off, "liga" off;
  color: #E6E5EA; }

.body {
  font-family: JetBrains Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-feature-settings: "clig" off, "liga" off;
  color: #E6E5EA; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  color: #E6E5EA; }

.btn-primary {
  width: 100%;
  margin-top: 32px;
  height: 65px;
  cursor: pointer;
  color: #24232C;
  font-size: 18px;
  background-color: #A4FFAF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; }
  .btn-primary:hover {
    background-color: transparent;
    color: #A4FFAF;
    border: 2px solid #A4FFAF; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px; }
  .container h1 {
    color: #817D92;
    margin-bottom: 32px; }
  .container .show-input {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
    background-color: #24232C; }
    .container .show-input input {
      width: calc(100% - 96px);
      padding: 19px 64px 19px 32px;
      height: 100%;
      background-color: transparent;
      border: none;
      color: #E6E5EA;
      font-size: 32px; }
    .container .show-input button {
      position: absolute;
      background-color: transparent;
      right: 28px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer; }
      .container .show-input button img {
        width: 100%;
        display: block; }
  .container form {
    width: calc(100% - 64px);
    padding: 24px 32px;
    background-color: #24232C; }
    .container form .form-control label {
      font-size: 18px; }
    .container form .form-control input[type="range"] {
      width: 100%;
      height: 8px;
      accent-color: #A4FFAF;
      cursor: pointer; }
    .container form .form-control:not(:last-child) {
      margin-bottom: 20px; }
    .container form .form-control:not(:first-child) label {
      display: flex;
      align-items: center;
      gap: 24px; }
    .container form .form-control .label-data {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .container form .form-control .label-data .length {
        font-size: 18px;
        font-weight: 700;
        color: #E6E5EA; }
      .container form .form-control .label-data .length-number {
        font-size: 32px;
        color: #A4FFAF; }
    .container form .show-strength {
      background-color: #18171F;
      padding: 25px 32px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .container form .show-strength .strength-level {
        font-size: 18px;
        color: #817D92; }
      .container form .show-strength .strength-container {
        display: flex;
        align-items: center;
        gap: 8px; }
        .container form .show-strength .strength-container h5 {
          margin-right: 16px;
          font-size: 24px; }
        .container form .show-strength .strength-container .strength {
          width: 10px;
          height: 28px;
          border: 1px solid white;
          background-color: transparent; }
          .container form .show-strength .strength-container .strength.active-1 {
            background-color: #A4FFAF; }
            .container form .show-strength .strength-container .strength.active-1.active-2 {
              background-color: #A4FFAF; }
              .container form .show-strength .strength-container .strength.active-1.active-2.active-3 {
                background-color: #A4FFAF; }
                .container form .show-strength .strength-container .strength.active-1.active-2.active-3.active-4 {
                  background-color: #A4FFAF; }
          .container form .show-strength .strength-container .strength.active-1 {
            background-color: #F8CD65; }
            .container form .show-strength .strength-container .strength.active-1.active-2 {
              background-color: #F8CD65; }
              .container form .show-strength .strength-container .strength.active-1.active-2.active-3 {
                background-color: #F8CD65; }
          .container form .show-strength .strength-container .strength.active-1 {
            background-color: #FB7C58; }
            .container form .show-strength .strength-container .strength.active-1.active-2 {
              background-color: #FB7C58; }
          .container form .show-strength .strength-container .strength.active-1 {
            background-color: #F64A4A; }

@media (max-width: 478px) {
  .container {
    width: 310px;
    margin: 10px; }
    .container h1 {
      font-size: 16px; }
    .container .show-input input {
      padding: 19px 12px; }
    .container form {
      width: calc(100% - 32px);
      padding: 21px 16px; }
      .container form .form-control label {
        font-size: 16px; }
      .container form .form-control:not(:first-child) label {
        gap: 15px; }
      .container form .show-strength {
        padding: 17px; }
        .container form .show-strength .strength-level {
          font-size: 16px; }
        .container form .show-strength .strength-container h5 {
          font-size: 18px; } }
